<h1>Editing Invoice</h1>

<%# <%= render 'form', invoice: @invoice %>
<div class="row">
  <div class="col-md-12 col-md-offset-3">
    <h2>
      見積もり項目
      <button data-bs-toggle="modal" data-bs-target="#postModal" class="btn btn-primary btn-sm float-end" type="submit">+</button>
    </h2>
      <ul class="sortable">
      <% subtotal = 0%>
      <% @invoice_details.each do |detail| %>
        <% detail_json = [
            detail.id, 
            detail.title, 
            detail.quantity, 
            detail.unit, 
            detail.unit_price, 
            detail.sort, 
            detail.invoice_id 
          ] %>
        <li id="<%= detail.id %>">
          <span class="me-3">項目：<%= detail.title %></span>
          <span class="me-3">数量：<%= detail.quantity %></span>
          <span class="me-3">単価：<%= detail.unit_price %></span>
          <span class="me-3">単位：<%= detail.unit %></span>
          <% subtotal += detail.unit_price * detail.quantity %>
          <span class="me-3">合計：<%= (detail.unit_price * detail.quantity).to_s(:delimited) %>円</span>
          <span class="me-3">並び順：<%= detail.sort %></span>
          <span data-bs-toggle="modal" data-bs-target="#editModal" onclick="detailEditModal(<%= detail_json %>)">
            editModal
          </span>
          <span onclick="detailDelete(<%= detail.id %>)">
            delete
          </span>
        </li>
        <% end %>
      </ul>
    <div class="btn btn-primary" onclick="sortPost()">Save</div>
    <div>
    合計：<span id='detailsSubtotal'><%= subtotal.to_s(:delimited) %>円<span>
    </div>
  <div>
  </div>
  </div>
  <div class="col-md-12 col-md-offset-3">
    <h2>見積もり設定</h2>
    <%= form_for @invoice, url: :update_invoices do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: 'form-control' %>

      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control' %>

      <%= f.label :pref, "市区町村" %>
      <%= f.text_field :pref, class: 'form-control' %>

      <%= f.label :address, "住所" %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :tel, "TEL" %>
      <%= f.text_field :tel, class: 'form-control' %>

      <%= f.label :subtotal, "小計" %>
      <%= f.text_field :subtotal, class: 'form-control getSubtotal'%>

      <%= f.label :tax_rate, "消費税レート" %>
      <%= f.text_field :tax_rate, {class: 'form-control watchTaxRate', id: 'watchTaxRate',  oninput: 'inputChange()'} %>

      <%= f.label :tax, "消費税" %>
      <%= f.text_field :tax, {class: 'form-control watchTax', id: 'rate'}%>

      <%= f.label :amount, "合計" %>
      <%= f.text_field :amount, {class: 'form-control', id: 'amount'} %>

      <%= f.submit "Setting Save changes", class: "btn btn-primary mt-3" %>
    <% end %>
    
  </div>
</div>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %> |
<!-- Button trigger modal -->

<!--Post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="detailForm" action="/invoice_details" accept-charset="UTF-8" method="post"  style="display: block;">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="gm0wTmpV55yc3vLOMWKxnda4plnHh4ak5k2Ua6ktTk8HTZ5yKjOW7uAn1Pii+hGMzXCqpjAKCzrR0zbYErqO6w==" />

          <div class="field">
            <label for="invoice_detail_title">Title</label>
            <input type="text" name="invoice_detail[title]" id="add_invoice_detail_title" />
          </div>

          <div class="field">
            <label for="invoice_detail_quantity">Quantity</label>
            <input type="number" name="invoice_detail[quantity]" id="add_invoice_detail_quantity" />
          </div>

          <div class="field">
            <label for="invoice_detail_unit">Unit</label>
            <input type="text" name="invoice_detail[unit]" id="add_invoice_detail_unit" />
          </div>

          <div class="field">
            <label for="invoice_detail_unit_price">Unit price</label>
            <input type="number" name="invoice_detail[unit_price]" id="add_invoice_detail_unit_price" />
          </div>
            <input type="hidden" name="invoice_detail[sort]" id="add_invoice_detail_sort" value="0" />
            <input type="hidden" name="invoice_detail[invoice_id]" id="add_invoice_detail_invoice_id" value="<%= params[:id] %>" />

        </form>
        <div id="detailDone" style="display: none;">
          Invoice detail was successfully created.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="window.location.reload();" data-bs-dismiss="modal">Close</button>
        <button type="button" id="postDetailModalBtn" class="btn btn-primary" onclick="detailPost()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editDetailForm" action="/invoice_details/22" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="_method" value="patch" />
          <input type="hidden" name="authenticity_token" value="7wvhV1yU3T7WqXNzPMG2M9GBWcJqu2elA8JCqLh98DB57AWF1B3qA7AkctwRW7oCE8+uuXUcpgBmkdZ/V9Q2XA==" />

          <div class="field">
            <label for="invoice_detail_title">Title</label>
            <input type="number" name="invoice_detail[id]" id="edit_invoice_detail_id" valie/>
          </div>

          <div class="field">
            <label for="invoice_detail_title">Title</label>
            <input type="text" name="invoice_detail[title]" id="edit_invoice_detail_title" valie/>
          </div>

          <div class="field">
            <label for="invoice_detail_quantity">Quantity</label>
            <input type="number" value="" name="invoice_detail[quantity]" id="edit_invoice_detail_quantity" />
          </div>

          <div class="field">
            <label for="invoice_detail_unit">Unit</label>
            <input type="text" value="" name="invoice_detail[unit]" id="edit_invoice_detail_unit" />
          </div>

          <div class="field">
            <label for="invoice_detail_unit_price">Unit price</label>
            <input type="number" value="" name="invoice_detail[unit_price]" id="edit_invoice_detail_unit_price" />
          </div>

          <div class="field">
            <label for="invoice_detail_sort">Sort</label>
            <input type="number" value="" name="invoice_detail[sort]" id="edit_invoice_detail_sort" />
          </div>

          <div class="field">
            <label for="invoice_detail_invoice_id">Invoice</label>
            <input type="hidden" value="" name="invoice_detail[invoice_id]" id="edit_invoice_detail_invoice_id" />
          </div>

          <div class="actions">
            <input type="submit" name="commit" value="Update Invoice detail" data-disable-with="Update Invoice detail" />
          </div>
        </form>
        <div id="editDetailDone" style="display: none;">
          Invoice detail was successfully created.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="window.location.reload();" data-bs-dismiss="modal">Close</button>
        <button type="button" id="editDetailModalBtn" class="btn btn-primary" onclick="detailEdit()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script>
window.onload = function(){
  let detailsSubtotal = <%= subtotal %>
  // let getSubtotal = document.getElementsByClassName("getSubtotal");
  // let watchTax = document.getElementsByClassName("watchTax");
  let taxRate = document.getElementsByClassName("watchTaxRate").item(0).value
  if( !taxRate ) document.getElementsByClassName("watchTaxRate").item(0).value(10)
  // let taxRate = document.getElementsByClassName("watchTaxRate").item(0).value / 100;
  let detailsTax = detailsSubtotal * taxRate;
  // let amount = detailsSubtotal + detailsTax;
  // document.getElementById("amount").value = amount;
  document.getElementsByClassName("getSubtotal").item(0).value = detailsSubtotal;
  document.getElementsByClassName("watchTax").item(0).value = detailsTax;
  // 入力イベント監視
  let invoice_subtotal = Number(document.getElementById("invoice_subtotal").value)
  let rate = Number(invoice_subtotal * taxRate / 100)
  document.getElementById("rate").value = rate
  // rate.addEventListener('keyup', inputText);
  let amount = invoice_subtotal + rate;
  document.getElementById("amount").value = amount;
}
function inputChange() {
  console.log('inputText作動！！')
  let taxRate = document.getElementsByClassName("watchTaxRate").item(0).value
  let invoice_subtotal = document.getElementById("invoice_subtotal").value
  let rate = invoice_subtotal * taxRate / 100
  document.getElementById("rate").value = rate
  amount = Number(invoice_subtotal + rate);
  document.getElementById("amount").value = amount;
}
  function detailPost() {
    console.log('post!!')
    // 変数 = document.getElementsByName(name属性の値);
    const add_invoice_detail_title = document.getElementById( "add_invoice_detail_title" ).value;
    const add_invoice_detail_quantity = document.getElementById( "add_invoice_detail_quantity" ).value;
    const add_invoice_detail_unit = document.getElementById( "add_invoice_detail_unit" ).value;
    const add_invoice_detail_unit_price = document.getElementById( "add_invoice_detail_unit_price" ).value;
    const add_invoice_detail_sort = document.getElementById( "add_invoice_detail_sort" ).value;
    const add_invoice_detail_invoice_id = document.getElementById( "add_invoice_detail_invoice_id" ).value;
    const fetchUrl = '/invoice_details/';
    fetch(fetchUrl, {
      method: "POST",
      headers : new Headers({"Content-type": "application/json"}),
      body: JSON.stringify({
        title: add_invoice_detail_title, 
        quantity: add_invoice_detail_quantity, 
        unit: add_invoice_detail_unit, 
        unit_price: add_invoice_detail_unit_price, 
        sort: add_invoice_detail_sort, 
        invoice_id: add_invoice_detail_invoice_id
      })
    }).then(function(response) {
      console.log(response.status);//中身を確認
      if(response.status === 200){
        document.getElementById("detailForm").style.display ="none";
        document.getElementById("postDetailModalBtn").style.display ="none";
        document.getElementById("detailDone").style.display ="block";
      }else{

      }
    })
  }
  function detailEditModal(params) {
    document.getElementById( "edit_invoice_detail_id" ).value = params[0];
    document.getElementById( "edit_invoice_detail_title" ).value = params[1];
    document.getElementById( "edit_invoice_detail_quantity" ).value = params[2];
    document.getElementById( "edit_invoice_detail_unit" ).value = params[3];
    document.getElementById( "edit_invoice_detail_unit_price" ).value = params[4];
    document.getElementById( "edit_invoice_detail_sort" ).value = params[5];
    document.getElementById( "edit_invoice_detail_invoice_id" ).value = params[6];
  }
  function detailEdit() {
    const edit_invoice_detail_id = document.getElementById( "edit_invoice_detail_id" ).value;
    const edit_invoice_detail_title = document.getElementById( "edit_invoice_detail_title" ).value;
    const edit_invoice_detail_quantity = document.getElementById( "edit_invoice_detail_quantity" ).value;
    const edit_invoice_detail_unit = document.getElementById( "edit_invoice_detail_unit" ).value;
    const edit_invoice_detail_unit_price = document.getElementById( "edit_invoice_detail_unit_price" ).value;
    const edit_invoice_detail_sort = document.getElementById( "edit_invoice_detail_sort" ).value;
    const edit_invoice_detail_invoice_id = document.getElementById( "edit_invoice_detail_invoice_id" ).value;
    const fetchUrl = '/invoice_details/' + edit_invoice_detail_id;
    console.log('fetchUrl', fetchUrl)
    fetch(fetchUrl, {
      method: "put",
      headers : new Headers({"Content-type": "application/json"}),
      body: JSON.stringify({
        title: edit_invoice_detail_title,
        quantity: edit_invoice_detail_quantity,
        unit: edit_invoice_detail_unit,
        unit_price: edit_invoice_detail_unit_price,
        sort: edit_invoice_detail_sort,
        invoice_id: edit_invoice_detail_invoice_id
      })
    }).then(function(response) {
      console.log(response.status);//中身を確認
      if(response.status === 200){
        document.getElementById("editDetailForm").style.display ="none";
        document.getElementById("editDetailDone").style.display ="block";
      }else{

      }
    })
  }
  function detailDelete(id){
    const fetchUrl = '/invoice_details/' + id;
    fetch(fetchUrl, {
      method: "delete",
      headers : new Headers({"Content-type": "application/json"}),
      body: JSON.stringify({
        id: id
      })
    }).then(function(response) {
      console.log(response.status);//中身を確認
      if(response.status === 200){
        window.location.reload();
      }else{

      }
    })
  }

  $(function() {
      $(".sortable").sortable();
      $(".sortable").disableSelection();
  });

  function sortPost() {
    var result = $(".sortable").sortable("toArray");
    // ?console.log('result:', result.length);

    for (let i = 0; i < result.length; i++) {
      console.log('loop:', result[i]);
      const fetchUrl = '/invoice_details/' + result[i]
      console.log('fetchUrl', fetchUrl)
      fetch(fetchUrl, {
        method: "put",
        headers : new Headers({"Content-type": "application/json"}),
        body: JSON.stringify({
          sort: i + 1,
        })
      }).then(function(response) {
        console.log(response.status);//中身を確認
        if(response.status === 200){
          console.log('Done!!')
        }else{
          console.log('Error!!')
        }
      })
    }
  }
</script>
