<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @invoice.title %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @invoice.company_name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @invoice.zip %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @invoice.pref %>
</p>

<p>
  <strong>Address:</strong>
  <%= @invoice.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @invoice.tel %>
</p>

<p>
  <strong>InvoiceDetails:</strong>
  <% subTotal = 0%>
  <% @invoice_details.each do |detail| %>
    <p>
    <%= detail.title %>：
    <%= detail.quantity %>
    <%= detail.unit %>,
    <%= detail.unit_price.to_s(:delimited) %>
    <% subTotal += detail.unit_price%>
    </p>
  <% end %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= subTotal.to_s(:delimited) %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @invoice.tax_rate %>
</p>

<p>
  <strong>Tax:</strong>
  <% tax = subTotal * @invoice.tax_rate / 100 %>
  <%= tax.to_s(:delimited) %>
</p>

<p>
  <strong>Amount:</strong>
  <% amount = subTotal + tax %>
  <%= amount.to_s(:delimited) %>
</p>

<p>
  <strong>Sub1:</strong>
  <%= @invoice.sub1 %>
</p>
<p>
<% pdfLink = '/pdf-download/' + @invoice.id.to_s %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %> | 
<%= link_to 'PDF', pdfLink %>
