<!DOCTYPE html>
<html>
  <head>
    <title>BetaCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <header>
      <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">BetaCode</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/news_histories">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/invoices/">Invoices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/invoice_details">InvoiceDetails</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/invoice_settings">InvoiceSettings</a>
                </li>
                <%# <li class="nav-item">
                  <a class="nav-link disabled" href="/news_histories" tabindex="-1" aria-disabled="true">News</a>
                </li> %>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="検索" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
  
    <div class="container py-5">

      <!-- Begin page content -->
      <%= yield %>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">フッターのコンテンツをここに置きます。</span>
      </div>
    </footer>
  </body>
</html>
