<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.Name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @member.Sex %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
